Django==4.2.11
djangorestframework==3.15.1
drf-spectacular==0.27.2
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
cryptography==42.0.5
gunicorn==21.2.0
# MongoDB ORM - MongoEngine (compatible con Django 4.2)
pymongo==4.3.3
mongoengine==0.27.0
# HTTP client para integración con APIs externas (Odoo)
requests==2.31.0
# Celery + Redis broker para tareas asíncronas
celery==5.3.6
redis==5.0.1
